<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Practice!</title>
</head>
<body>
<h1>I'm practicing!</h1>
<h2>
    <span><th:block th:text="${att1}">[s1]</th:block></span>
    <span><th:block th:text="${att2}">[s2]</th:block></span>
    <span><th:block th:text="${att3}">[s3]</th:block></span>
    <span><th:block th:text="${att4}">[s4]</th:block></span>
    <span><th:block th:text="${att5}">[s5]</th:block></span>
</h2>
</body>
</html>